<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin</title>

    <!-- Bootstrap -->
    <link href="/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/assets/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/assets/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/admin/home" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella
                                Alela!</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_info">
                            <span>Welcome, <h2 style="display: inline-block;"><%= session.admin.username %></h2></span>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section active">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li class="active-on-hover actual"><a href="/admin/listproducts"><i
                                            class="fa fa-edit"></i> Products </a></li>
                                <li class="active-on-hover"><a href="/admin/listcategories"><i class="fa fa-edit"></i>
                                        Products Category </a></li>
                                <li class="active-on-hover"><a href="/admin/listmanufacturers"><i
                                            class="fa fa-edit"></i> Products Manufacturer </a></li>
                                <li class="active-on-hover"><a href="/admin/listorders"><i class="fa fa-edit"></i>
                                        Orders </a></li>
                                <li class="active-on-hover"><a href="/admin/listcustomers"><i class="fa fa-edit"></i>
                                        Customers </a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true"
                                    id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <%= session.admin.username %>
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right"
                                    aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="javascript:;"> Profile</a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">Help</a>
                                    <a class="dropdown-item" href="login.html"><i class="fa fa-sign-out pull-right"></i>
                                        Log Out</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="row" style="display: block; height: 500px;">
                    <div class="col-md-4" style="background: white; height: 602px;">
                        <% for (var i in item.images) { %>
                            <img src="data:image/png;base64,<%= item.images[i].imgBase64 %>" alt="Error!" width="100%"/>
                        <% } %>
                    </div>
                    <div class="col-md-3 product-info" style="background: white; height: 602px; border-left: 2px solid #0069D9;">
                        <div class="grid-item">
                            <p style="font-weight: bolder; margin-bottom: 0px;">Name: </p>
                            <p style="margin-bottom: 0px" class="pull-right"><%= item.productName %></p>
                        </div>
                        <div class="grid-item">
                            <p style="font-weight: bolder; margin-bottom: 0px;">Inventory: </p>
                            <p style="margin-bottom: 0px;" class="pull-right"><%= item.inventory %></p>
                        </div>
                        <div class="grid-item">
                            <p style="font-weight: bolder; margin-bottom: 0px;">Price: </p>
                            <p style="margin-bottom: 0px;" class="pull-right"><%= item.price %></p>
                        </div>
                        <div class="grid-item">
                            <p style="font-weight: bolder; margin-bottom: 0px;">Category: </p>
                            <p style="margin-bottom: 0px;" class="pull-right"><%= item.cateName %></p>
                        </div>
                        <div class="grid-item">
                            <p style="font-weight: bolder; margin-bottom: 0px;">State: </p>
                            <p style="margin-bottom: 0px;" class="pull-right"><%= item.stateName %></p>
                        </div>
                        <div class="grid-item">
                            <p style="font-weight: bolder; margin-bottom: 0px;">Segment: </p>
                            <p style="margin-bottom: 0px;" class="pull-right"><%= item.segmentName %></p>
                        </div>
                        <div class="grid-item">
                            <p style="font-weight: bolder; margin-bottom: 0px;">Manufacturer: </p>
                            <p style="margin-bottom: 0px;" class="pull-right"><%= item.manuName %></p>
                        </div>
                    </div>
                    <div class="col-md-5 product-info" style="background: white; height: 602px; border-left: 2px solid #0069D9;">
                        <div class="grid-item">
                            <p style="font-weight: bolder; margin-bottom: 0px;">Ram: </p>
                            <p style="margin-bottom: 0px" class="pull-right"><%= item.config.RAM %></p>
                        </div>
                        <div class="grid-item">
                            <p style="font-weight: bolder; margin-bottom: 0px;">Screen: </p>
                            <p style="margin-bottom: 0px" class="pull-right"><%= item.config.screen %></p>
                        </div>
                        <div class="grid-item">
                            <p style="font-weight: bolder; margin-bottom: 0px;">Camera: </p>
                            <p style="margin-bottom: 0px" class="pull-right">Rear: <%= item.config.rearCamera %>, Front: <%= item.config.frontCamera %></p>
                        </div>
                        <div class="grid-item">
                            <p style="font-weight: bolder; margin-bottom: 0px;">Operating System: </p>
                            <p style="margin-bottom: 0px" class="pull-right"><%= item.config.OS %></p>
                        </div>
                        <div class="grid-item">
                            <p style="font-weight: bolder; margin-bottom: 0px;">Storage: </p>
                            <p style="margin-bottom: 0px" class="pull-right"><%= item.config.storage %></p>
                        </div>
                        <div class="grid-item">
                            <p style="font-weight: bolder; margin-bottom: 0px;">SD: </p>
                            <p style="margin-bottom: 0px" class="pull-right"><%= item.config.SDtype %>, max support: <%= item.config.maxSDsize %></p>
                        </div>
                        <div class="grid-item">
                            <p style="font-weight: bolder; margin-bottom: 0px;">Batery: </p>
                            <p style="margin-bottom: 0px" class="pull-right"><%= item.config.batery %></p>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12" style="text-align: center; margin-top: 8px;">
                        <a href="/admin/editproduct/<%= item.productId %>" class="btn btn-primary" style="width: 100%;">Edit</a>
                    </div>
                </div>
            </div>
            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="/assets/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="/assets/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/assets/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="/assets/vendors/iCheck/icheck.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/assets/build/js/custom.min.js"></script>
    <script>
        $('.active-on-hover').hover(function () {
            if (!$(this).hasClass('actual'))
                $(this).addClass('current-page');
        }, function () {
            if (!$(this).hasClass('actual'))
                $(this).removeClass('current-page');
        });

        $('.product-info').css({
            'display': 'grid',
            'align-items': 'center'
        });
        $('.grid-item').css({'margin-bottom': 0 });
        $('p').css('display', 'inline');
    </script>
</body>

</html>